[
  {
    "id": "webhook",
    "execute-command": "/root/scripts/get-new-zone.sh",
    "command-working-directory": "/var/lib/knot/zones/",
    "trigger-rule":
    {
      "and":
      [
        {
          "match":
          {
            "type": "payload-hmac-sha1",
            "secret": "{{ WebhookSecret }}",
            "parameter":
            {
              "source": "header",
              "name": "X-Hub-Signature"
            }
          }
        }
      ]
    }
  }
]
